## Working with python variables

structer of creating a var
[var name] [assigment operator] [var value]
myVar = "value"

### What are the data types in python
1. Integers - whole numbers
2. Strings - anything inside "" ''
3. Booleans - true false
4. Floats - any number with decamal

In [2]:
# Variable reassignment

# a student GPA throught highschool
student_gpa = 3.2 #freshmen year
student_gpa = 3.4 #sophomre year
student_gpa = 3.7 #junior year
student_gpa = 3.9 #senior year
print(student_gpa)
#output 3.9

#if you need to store all data
student_gpa_fr = 3.2 #freshmen year
student_gpa_so = 3.4 #sophomre year
student_gpa_ju = 3.7 #junior year
student_gpa_se = 3.9 #senior year
print(student_gpa)

3.9
3.9

In [8]:
# sports team statistics

# basketball team variables
team_name = "Riverside Ravens"
wins = 18
loses = 7
points_scored = 1456
points_allowed = 1298
leading_scorer = "Jordan Thompson"
average_points_per_game = 58.2
championship_contender = True
print(championship_contender)

True

In [7]:
# the imput function

# input("Enter your first name: ")

first_name = input("Enter your first name: ")

## 4 main computational process
- input
- processing
- output
- storage (memory)

## strings, assignments, and comments

**data types** - consists of a set values and a set of operations that can be preformed on those values

a **literal** - is the way a vaule of a data types looks to a programmer

<table>
    <tr>
        <th>Type of data</th>
        <th>python type name</th>
        <th>example literals</th>
    </tr>
    <tr>
        <td>Intergers</td>
        <td>int</td>
        <td>-1, 0, 1, 365, -1457324</td>
    </tr>
    <tr>
        <td>Real numbers</td>
        <td>float</td>
        <td>-0.55, .33333, 3.14, 6.0, .5, 5.</td>
    </tr>
    <tr>
        <td>charater strings</td>
        <td>str</td>
        <td>"Hello", '', " ", 't', "435"</td>
    </tr>
</table>

In [6]:
hello = 'hello there!'
myInt = 675
print(hello) # literal is: hello there!
print(myInt) # literal is: 675

hello there!
675

## escape sequences

**escape sequence** - the way python expresses specail charaters, such as the tab, new line, and backspace as literals

<table>
    <tr>
        <th>escape sequence</th>
        <th>meaning</th>
    </tr>
    <tr>
        <td>\b</td>
        <td>backspace</td>
    </tr>
    <tr>
        <td>\n</td>
        <td>newline</td>
    </tr>
    <tr>
        <td>\t</td>
        <td>horizontal tab</td>
    </tr>
    <tr>
        <td>\\</td>
        <td>the \</td>
    </tr>
    <tr>
        <td>\'</td>
        <td>single quotation mark</td>
    </tr>
    <tr>
        <td>\"</td>
        <td>double quotation mark</td>
    </tr>
</table>

## initializing a varible or constant

initializing - this is the process of creating a varible and setting it to a defeult vaule

## formating text for output

- this process is for presenting required output in tabular format
- **field width** - the total number of data charaters and additional spaces for a given dataum in a formated string
- **%** = format oprartor 
- **%6s** - format string

In [5]:
for exponent in range(7,11):
    print(exponent, 10 ** exponent)

7 10000000
8 100000000
9 1000000000
10 10000000000

In [4]:
print("four")
print("%6s" % "four") #right justify
print("%-6s" % "four") #left justify

four
  four
four

## Define iteration

repeating an acton or process a predefined number of times. Also known as a specific type of iteration: **Definite Iteration**

Perform an action or process until the program determines that it needs to stop: **Indefinite iteration**

#### each of these iterations uses a differant type of loop

defininte iteration --> for loop
indefininte iteration --> while loop

In [3]:
# execute a statment a given number of time

for eachPass in range(4): #iterate through the conained code 4 times
    print("It's alive!" , end = " ")
    #each time through loop, counting 0 - 3
    #print It's alive! followed by a blank space

It's alive! It's alive! It's alive! It's alive!

## the strutcter of a for loop

for (variable) in range(an int experssion):
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;repeat any number of statments

**loop header** - the line that starts with "for"
**loop body** - compises the statments in the remaining lines of code, below the header

## pythons exponation operator

In [10]:
# exponent exapmle

number = 2
exponent = 3
product = 1

print("\n The variable product is currently:" , product)

for eachPass in range(exponent):
    product = product * number
    print(product, end = " ")

print("\n The variable product is now:" , product)

 The variable product is currently: 1
2 4 8
 The variable product is now: 8

## Count-controlled loops

**count-controlled loops** - loops that count through a range of numbers

In [11]:
for count in range(4):
    print(count, end=" ")

0 1 2 3

In [13]:
product = 1 #initializing a counter
for count in range (4):
    product = product * (count + 1) # off by one error
    print(product , end=" ")

print(product)

1 2 6 24 24

## loop through a range of numbers

In [ ]:
product = 1
for count in range(1, 5): #(1, 5) -  start on 1, 1 is the first number in the sequence
                            # 5 is the first number NOT in the sequence
    product = product * count
    print(product , end=" ")

print("\n\n" , product)

1 2 6 24

 24

## Loop head structer with lower and upper bounds
for (varible) in range (lower bound, upper bound + 1):

In [21]:
lower = int(input("Enter the lower bound: "))
upper = int(input("Enter the upper bound: "))

theSum = 0 #noctie, we theSum because sum is a python keyword

for number in range(lower, upper + 1):
    theSum = theSum + number

print(theSum)

12

## augmented assignment

**augmented assignement** - when the assignment symbol (=) can be combined wiht the arithmentic and concatenation operators.

structure: <br>
(variable) (operator) = (expression)

In [25]:
a = 17
s = "hi"

a += 3  #equivalent to a = a + 3
print (a)

a *= 3  #equivalent to a = a * 3
print(a)

a %= 3  #equivalent to a = a % 3
print(a)

20
60
0

In [33]:
s += " there" #equivalent to s = s + " there"
print(s)

hi there there there there

## loop errors: off by one error

**off by one error** - these are errors that result when the programmer incorrectly specifiecs the upper bound for a loop

In [29]:
# counts from 1 though 4, we think
for count in range(1, 5):
    print(count)

1
2
3
4

## traversing the contents of a data sequence

In [ ]:
print(list(range(4)))
print(list(range(1, 5)))

[0, 1, 2, 3]
[1, 2, 3, 4]

In [36]:
# use something other then the range function in the loop head
for number in [6, 4, 8]:
    print(number, end=" ")

6 4 8

In [37]:
for charater in "Hi, there!":
    print(charater, end=" ")

H i ,   t h e r e !