## Working with python variables

structer of creating a var
[var name] [assigment operator] [var value]
myVar = "value"

### What are the data types in python
1. Integers - whole numbers
2. Strings - anything inside "" ''
3. Booleans - true false
4. Floats - any number with decamal

In [2]:
# Variable reassignment

# a student GPA throught highschool
student_gpa = 3.2 #freshmen year
student_gpa = 3.4 #sophomre year
student_gpa = 3.7 #junior year
student_gpa = 3.9 #senior year
print(student_gpa)
#output 3.9

#if you need to store all data
student_gpa_fr = 3.2 #freshmen year
student_gpa_so = 3.4 #sophomre year
student_gpa_ju = 3.7 #junior year
student_gpa_se = 3.9 #senior year
print(student_gpa)

3.9
3.9

In [3]:
# sports team statistics

# basketball team variables
team_name = "Riverside Ravens"
wins = 18
loses = 7
points_scored = 1456
points_allowed = 1298
leading_scorer = "Jordan Thompson"
average_points_per_game = 58.2
championship_contender = True
print(championship_contender)

True

In [ ]:
# the imput function

# input("Enter your first name: ")

first_name = input("Enter your first name: ")

## 4 main computational process
- input
- processing
- output
- storage (memory)

## strings, assignments, and comments

**data types** - consists of a set values and a set of operations that can be preformed on those values

a **literal** - is the way a vaule of a data types looks to a programmer

<table>
    <tr>
        <th>Type of data</th>
        <th>python type name</th>
        <th>example literals</th>
    </tr>
    <tr>
        <td>Intergers</td>
        <td>int</td>
        <td>-1, 0, 1, 365, -1457324</td>
    </tr>
    <tr>
        <td>Real numbers</td>
        <td>float</td>
        <td>-0.55, .33333, 3.14, 6.0, .5, 5.</td>
    </tr>
    <tr>
        <td>charater strings</td>
        <td>str</td>
        <td>"Hello", '', " ", 't', "435"</td>
    </tr>
</table>

In [1]:
hello = 'hello there!'
myInt = 675
print(hello) # literal is: hello there!
print(myInt) # literal is: 675

hello there!
675

## escape sequences

**escape sequence** - the way python expresses specail charaters, such as the tab, new line, and backspace as literals

<table>
    <tr>
        <th>escape sequence</th>
        <th>meaning</th>
    </tr>
    <tr>
        <td>\b</td>
        <td>backspace</td>
    </tr>
    <tr>
        <td>\n</td>
        <td>newline</td>
    </tr>
    <tr>
        <td>\t</td>
        <td>horizontal tab</td>
    </tr>
    <tr>
        <td>\\</td>
        <td>the \</td>
    </tr>
    <tr>
        <td>\'</td>
        <td>single quotation mark</td>
    </tr>
    <tr>
        <td>\"</td>
        <td>double quotation mark</td>
    </tr>
</table>